name: CI - Build .NET and Docker

on:
  push:
    branches: [ "main", "DevOps" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore dependencies
        run: dotnet restore ./Api/Api.csproj

      - name: Build
        run: dotnet build ./Api/Api.csproj --configuration Release --no-restore

      - name: Run tests (si tienes tests)
        run: dotnet test --no-build --verbosity normal || echo "Sin tests"

      - name: Login to Docker Hub
        if: ${{ secrets.DOCKERHUB_USERNAME != '' }}
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/proyecto4:latest .

      - name: Push Docker image
        if: ${{ secrets.DOCKERHUB_USERNAME != '' }}
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/proyecto4:latest
